*.iml
.gradle
/local.properties
/cloud-functions/.idea/*
/cloud-functions/functions/.idea/*
/cloud-functions/*.log
/cloud-functions/functions/node_modules/
/cloud-functions/functions/lib


/.idea/caches
/.idea/misc.xml

/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
